34/* CSS reset*/
*{
	margin:0;
	padding:0;
}

img.logo {
	display:block;
	margin:auto;
	}
	
	
/* Home page */	
main{
    width:80%;
    margin:auto;
    background-color:#c7b299; 
}

section {
	width:76%;
	margin:auto;
	}
	
img#main{
    width:100%;
	max-width:960px;
	display:block;
	margin:auto;
}

img.small{
	display:inline-block;
	width:32%;
	margin:1% 0;
	max-width:288px;
	border:solid 1px #000;
	}



/* About page */
section.aboutPic{
	width:18%;
	float:left;
	padding:2%;
	margin:0 0 2% 0;
	}
img#about{
	width:100%;
	}
article.about{
	width:50%;
	float:right;
	padding:2%;
	background-color:#fff;
	margin:2% 0 2% 0;
	}
	
article.about h3 {
	text-align:center;
	margin-bottom:.5em;
	}

article.about p {
	margin-bottom:.5em;
	text-indent:5%;
	}


/* footer */		
footer{
	clear:both;
	background-color:#c7b299;
	color:#6F4D48;
	text-transform:uppercase;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align:center;
}

footer a {
	color:#000;
	}

footer a:hover {
	color:#ccc;
	text-decoration:none;
	}
	
/*DESKTOP*/
@media all and (min-width:780px)	{
	body{
		width:80%;
		margin:auto;
	}
	section.aboutPic {
		float:left;
		width:26%;
		padding-left:2.5%;
	}

	article.about {
		float:right;
		width:64%;
		padding-right:2.5%;
}

}
	


/* products page styles */
div.productsAbout{
	width:30%;
	float:left;
	background-color:#fff;
	padding:2%;
	margin:2% 0 2% 0;
	}
	
div.products {
	width:60%;
	float:right;
	background-color:#fff;
	padding:2%;
	margin:2% 0 2% 2%;
	}

img.products {
	width:45%;
	margin: 2% 0 2% 2%;
	}
	
/* Food Safety */


div.foodsafety {
	width:80%;
	margin:auto;
	background-color:#fff;
	padding:2%;
	}	

div.foodsafety h3 {
	text-align:center;
	margin-bottom:.5em;
	}

div.foodsafety p {
	margin-bottom:.5em;
	text-indent:5%;
	}
	
/* Contact page */
div.form{
	width:60%;
	float:left;
	background-color:#fff;
	padding:2%;
	margin:2% 0 2% 0;
	}

div.map{
	width:30%;
	float:right;
	background-color:#fff;
	padding:2%;
	margin:2% 0 2% 2%;
	}
		
div.embed-container { 
position: relative; 
padding-bottom: 56.25%; 
height: 0; 
overflow: hidden; 
max-width: 100%; 
} 

div.map h3, p {
	text-align:center;
	}
	
div.map h3 {
	margin-top:.5em;
	}
div.disclaimer {
	width:80%;
	padding:1%;
	margin:auto;}

div.disclaimer h1 {
	text-align:center;
	}
	
div.disclaimer p{
	margin-bottom:.5em;
	text-indent:5%;}
	
		/*TABLET*/
@media all and (min-width:481px) and (max-width:779px){	
main{
    width:100%;
    margin:auto;
    background-color:#c7b299; 
}

img#main{
    width:100%;
	display:block;
	margin:auto;
}

img.small{
	display:inline-block;
	width:30%;
	margin:1% 0;
	max-width:288px;
	border:solid 1px #000;
	}

section.aboutPic {
	float:left;
	width:40%;
	}

article.about {
	float:right;
	width:50%;
	}	
}
/*PHONE*/
@media all and (max-width:480px)	{
main{
    width:100%;
    margin:auto;
    background-color:#c7b299; 
}

img#main{
    width:100%;
	display:block;
	margin:auto;
}

img.small{
	width:100%;
	margin:1% 0;
	max-width:288px;
	border:solid 1px #000;
	}
	
section.aboutPic {
	float:none;
	width:100%;
	} 

article.about {
	float:none;
	width:100%;
	}
	/*IF article and aside are written in global */	

div.productsAbout {
	width:100%;
	display:block;
	margin:auto;
	}
div.products {
	width:100%;
	display:block;
	margin:auto;
	}	

div.form {
	width:100%;
	display:block;
	margin:auto;
	}	
	
div.map {
	width:100%;
	display:block;
	margin:auto;
	}			

}
